<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: black;
        }
        
        .qr-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .qr-image {
            width: 500px;
            height: 500px;
            position: absolute;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <div class="qr-container">
        <img class="qr-image" src="static/QR.png" alt="QR Code">
    </div>
</body>
</html>