<!DOCTYPE html>
<html>
<head>
    <title>Review Submitted</title>
    <style>
        body {
            background-color: #120a0a;
        }
        .container {
            text-align: center;
            padding: 20px;
            margin: 100px auto;
            background-color: #323131;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #ddd6d6;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Review Submitted</h1>
        <p>Thank you for submitting your review. We appreciate your feedback!</p>
    </div>
</body>
</html> 